html, body {
    background-color: rgb(227, 244, 255);
    font-family: monospace;
    color: black;
}


.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.container {
    opacity: 1;
    margin: auto;
    margin-top: 10vh;
    position: relative;
    z-index: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 28vmax 28vmax;
    grid-template-rows: 48% 24% 24% 4%;
    width: 56vmax;
    height: 36vmax;
    border-radius: 0.7vmax;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(201, 218, 237), rgb(0,0,0,0));
    
}


.grid-head {
    grid-column-start: span 2;
    text-align: left;
    grid-row-start: span 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.7vmax;
    background-color: antiquewhite;
    margin: 2.5vmax;
    height: 7.5vmax;
    border: solid 0.2vmax white;
}

.fill {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.bg {
    width: 56vmax; /* 56vmax */
    height: 36vmax; /*36vmax */
    border-radius: 0.7vmax;;
    mask-image: linear-gradient(to bottom,  rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.grid-item {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 0.7vmax;
    height: 5vmax;
    width: 23vmax;  
    border: white solid 0.2vmax;
}

.pfp {
    border-radius: 50%;
    width: 10vmax;
    height: auto;
    float: center;
    background-color: white;
    border: 0.3vmax solid white
}

.logo {
    float: left;
    background-color: white;
    border-radius: 50%;
    width: 3.5vmax;
    height: 3.5vmax;
    margin-left: 0.7vmax;
    border: 0.2vmax solid white
}

.grid-item:hover {
    background-color: rgb(227, 236, 247);
}

.social-media {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2.5vmax;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.greeting, .grid-item-title {
    font-size: 1vmax;
    text-shadow: -0.1vmax 0 white, 0 0.1vmax white, 0.1vmax 0 white, 0 -0.1vmax white;
    font-weight: bold;
}
.greeting {
    font-size: 3vmax;
    text-decoration: underline;
}

.bio {
    font-size: 1vmax;
}
.grid-item-desc {
    font-size: 0.8vmax;
}
